extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/getValueById', method='get')
    p
      | id:
      input(type='text', name='id')
    input(type='submit', value='Submit')
  -for (var i=0;i< allids.length;i++)
    li #{allids[i]}
  form